/HackRankProjects/nbproject/private/
/HackRankProject/nbproject/private/
/HackerRankProjects/nbproject/private/
/HackerRankProjects/build/
/NumberFamilyProblem/nbproject/private/
/NumberFamilyProblem/build/